*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 800px;
   
}
.headerimg{
    background-image:  url("img/coffee.jpg");
    height: 150px;
    position: relative;
    display: flex;  
    color: white; /* Set the text color */
    align-items: center;
    justify-content: center;
}
title{
position: absolute;
top: 50%;
left: 50%;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
    color: white;
    height: 40px;
    align-items: center;
    padding: 2px;
}
nav a{
    color: white;
    text-decoration: none;
    
}
@media (max-width: 960px) {
    nav {
        flex-direction: row;  /* Stack links vertically */
        align-items: center;
        height: auto; /* Allow navbar to expand */
    }

    nav a {
        
        width: 100%;  /* Make links take full width */
        text-align: center;
    }
}

 /* Main navigation bar */
/* nav div{
    max-width: 100px;
}

.navone{
    margin-left: 400px;
}
.navthree{
    margin-right: 400px;
} */
.about{
    border: 3px solid chocolate;
    width: 95%;
   border-radius: 10px;
   height: 125px;
   margin-left: 25px;
   background-color: white;
}
h2{
   padding-top: 25px;
   padding-left: 10px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    margin-top: 5px;
}
.one{
    margin-top: 15px;
    margin-left: 10px;
}
.t1{
    color: chocolate;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu{
    border: 3px solid chocolate;
    width: 95%;
   border-radius: 10px;
   height: 225px;
   margin-left: 25px;
   margin-top: 15px;
   background-color: white;
}
.c{
    margin-left: 15px;
}
.contact{
    border: 3px solid chocolate;
    width: 95%;
   border-radius: 10px;
   height: 125px;
   margin-left: 25px;
   margin-top: 15px;
   background-color: white;
}
a{
    text-decoration: none;
    color: chocolate;
}
.email{
    margin-left: 15px;
}
.middle{
    background-color: rgb(235, 221, 150);
}
footer{
    background-color: rgb(72, 65, 65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border-top: 5px solid chocolate;
}
.h{
    width: 95%;
    height: 1.5px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: chocolate;
}
